<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="{{ siteUrl }}/css/app.css" />

    {% block head %}{% endblock %}
</head>
<body>
<div id="app">
    <welcome-craft></welcome-craft>
    {% block body %}{% endblock %}

    <script src="{{ siteUrl }}/js/app.js"></script>
</div>
</body>
</html>
